  <link rel="stylesheet" href="./css/profile.css" />

</head>

<body>
  <header>
    <div class="header-content">
      <div class="branding">
        <a href="/" class="homepage-link">
          <img src="/img/pawprint.png" class="main-paw" alt="Black website icon"/>
          <img src="/img/pawprint-white.png" class="alt-paw" alt="White website icon"/>
        </a>
        <a href="/" class="homepage-link"><h3>Safe Paws</h3></a>
      </div>
      <nav>
        <a href="/staff">Our Team</a>
        <a id="logout" href="">Log Out</a>
        <a href="/profile" class="profile-link">
          <img src="/img/user.png" alt="User icon leading to profile page"/>
        </a>
      </nav>
    </div>
  </header>
  
  <main>
    <section class="profile-heading">
      <h1>Profile</h1>
      <div class="profile-pets">
        {{#if user.pets.length}}
        {{#each user.pets as |pet|}}
        <img src="{{pet.pet_img}}" alt="Image of user pet" height="117px" width="117px"/>
        {{/each}}
        {{/if}}

        {{#unless user.pets.length}}
        <button class="button-primary add-pet-btn" data-mdb-toggle="modal" data-mdb-target="#addPetModal">Add a pet!</button>
        {{/unless}}
      </div>
    </section>


    <div class="upcoming-wrapper">
      <section class="upcoming-bookings">
        {{#if bookings.length}}
        <h3>Upcoming Bookings</h3>
        {{/if}}

        {{#unless bookings.length}}
        <h3>Scheduled bookings will appear here.</h3>
        {{/unless}}

        <!-- Swiper -->
        <div class="swiper mySwiper">
          <div class="swiper-wrapper">
            {{#each bookings as |booking|}}
            <div class="swiper-slide">
              <div>
                <p>Date: {{booking.date}}</p>
                <p>Time: {{booking.time}}</p>
                <p>Pet: {{booking.pet.pet_name}}</p>
                <p>Service: {{booking.pet.service.service_name}}</p>
                <p>Staff: {{booking.staff.staff_name}}</p>
              </div>
            </div>
            {{/each}}
            
          </div>
          <div class="swiper-button-prev"></div>
          <div class="swiper-button-next"></div>
        </div>

        <a href="/booking"><button class="button-primary add-booking-btn">Add a booking!</button></a>

      </section>
    </div>


    <section class="account-section">
      <h3>Account Settings</h3>

      <div class="account-information">
        <p>Email: {{user.email}}</p>
        <p>Username: {{user.username}}</p>
        <p>Password: ****</p>
        <p>Address: {{user.address}}</p>
        <p>Pets: {{#each user.pets as |pet|}}{{pet.pet_name}}, {{/each}}</p>

        <div class="account-btn-wrapper">
          <button class="button-primary-opp update-account-btn" data-mdb-toggle="modal" data-mdb-target="#updateAccountModal">Update Account</button>
          <button class="button-primary-opp add-pet-btn" data-mdb-toggle="modal" data-mdb-target="#addPetModal">Add Pet</button>
          <button class="button-primary-opp remove-pet-btn" data-mdb-toggle="modal" data-mdb-target="#removePetModal">Remove Pet</button>
        </div>

      </div>
    </section>
  </main>


  <!-- Update Account Modal -->
  <div class="modal fade" id="updateAccountModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Update Account</h5>
          <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
        </div>

        <div class="modal-body">
          <form>
            <input type="hidden" name="id" value="{{user.id}}">

            <div class="form-outline">
              <input type="email" id="email-input" class="form-control"  value="{{user.email}}"/>
              <label class="form-label" for="email-input">Update Email</label>
            </div>

            <div class="form-outline">
              <input type="text" id="username-input" class="form-control" value="{{user.username}}"/>
              <label class="form-label" for="username-input">Update Username</label>
            </div>

            <div class="form-outline">
              <input class="form-control" id="address-input" rows="4" value="{{user.address}}" placeholder="{{user.address}}"></input>
              <label class="form-label" for="address-input">Update Address</label>
            </div>

            <button type="submit" class="form-button" id="update-mdl-btn">Update</button>

          </form>
        </div>

      </div>
    </div>
  </div>


  <!-- Add Pet Modal -->
  <div class="modal fade" id="addPetModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalLabel">Add Pet</h5>
          <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
        </div>

        <div class="modal-body">
          <form>

            <input type="hidden" id="add-pet-id" value="{{user.id}}">

            <div class="form-outline">
              <input type="text" id="pet-name-input" class="form-control" />
              <label class="form-label" for="pet-name-input">Pet Name</label>
            </div>

            <div class="select-outline">
              <select name ="type" class="form-control" id="pet-type-select">
                <option selected>Pet Type</option>
                <option value="1">Dog</option>
                <option value="2">Cat</option>
                <option value="3">Bird</option>
                <option value="4">Bunny</option>
                <option value="5">Hamster</option>
                <option value="6">Pig</option>
                <option value="7">Fish</option>
                <option value="8">Snake</option>
                <option value="9">Rodent</option>
              </select>
            </div>

            <div class="form-outline">
              <textarea class="form-control" id="pet-details-input" rows="4"></textarea>
              <label class="form-label" for="pet-details-input">Enter special instructions or special details.</label>
            </div>

            <button class="form-button" id="add-pet-image-btn">Add pet photo</button>

            <button type="submit" class="form-button" id="add-mdl-btn">Add Pet</button>

          </form>
        </div>

      </div>
    </div>
  </div>


  <!-- Remove Pet Modal -->
  <div class="modal fade" id="removePetModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalLabel">Remove Pet</h5>
          <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
        </div>

        <div class="modal-body">
          <form>

            <div class="select-outline">
            <select class="form-control" id="pet-to-remove-select">
              <option selected>Choose Pet</option>
              {{#each user.pets as |pet|}}
              <option value="{{pet.id}}">{{pet.pet_name}}</option>
              {{/each}}
            </select>
            </div>

            <button type="submit" class="form-button" id="remove-mdl-btn">Remove Pet</button>
            
          </form>
        </div>
      </div>
    </div>
  </div>

  <footer>
    <div class="footer-content">
      <a href="/staff#contact-form">Contact Us</a>
      <div class="socials">
        <a href="https://www.facebook.com" target="_blank"><i class="fa-brands fa-facebook fa-2xl main-fb" style="color: #000000;" alt="Black Facebook Icon Link"></i></a>

        <a href="https://www.instagram.com" target="_blank"><i class="fa-brands fa-instagram fa-2xl main-logo" style="color: #000000;" alt="Black Instagram Icon Link"></i></a>

        <a href="https://www.snapchat.com" target="_blank"><i class="fa-brands fa-snapchat fa-2xl main-logo" style="color: #000000;" alt="Black Snapchat Icon Link"></i></a>
      </div>
    </div>
  </footer>

  <!-- Swiper JS -->
  <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>

  <!-- MDB -->
  <script
  type="text/javascript"
  src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.4.1/mdb.min.js"
  ></script>

  <!-- jQuery -->
  <script
  src="https://code.jquery.com/jquery-3.7.0.slim.min.js"
  integrity="sha256-tG5mcZUtJsZvyKAxYLVXrmjKBVLd6VpVccqz/r4ypFE="
  crossorigin="anonymous"></script>

  <!-- Uploader -->
  <script src="https://js.upload.io/uploader/v3"></script>

  <!-- JS -->
  <script src="./js/script.js"></script>  
  <script src="./js/swiper.js"></script>
  {{!-- <script src="./js/uploader.js"></script> --}}
  <script src="./js/main.js"></script>